{% set assetHash = helpers.random() %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% include "partials/meta-info.html" %}
        <link rel="stylesheet" href="{{ '/css/app.css?' + assetHash | url }}"/>
    </head>
    <body>
        <div id="site-wrap">
            {{ content | safe }}
        </div>
        <script src="{{ '/js/app.js?' + assetHash | url }}" defer></script>
    </body>
</html>